/* BANNER*/
/* Monsertar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
:root{
    /* CSS HEX */
    --light-blue-sky:#77e1ff;
    --ghost-blue-sky:#bbf0fe;
    --light-orange:#fed9b7;
}
body{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #decdf5, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #d0b7d7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.typed-cursor {
    visibility: hidden;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #f5f3f7;
}
nav .logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo img{
    width: 70px;
}
nav .name{
    width: 50%;
}
nav .name p{
    width: 100%;
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
}
.banner,.start-btn{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner{
    margin: 20px auto;
}
.start-btn{
    margin:30px auto;
    padding: 10px;
}
.containers-task-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containers-task-div .task-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.containers-task-div .task-div div{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}
.containers-task-div div i{
    animation: visible 3s infinite alternate;
    font-size: 3em;
    color: rgba(255, 217, 0, 0.864);
}
.containers-task-div p{
    width: 60%;
    height: auto;
    padding: auto 5px;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 500;
}
.start-btn button{
    width: 30%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 20px;
    border: none;
    background-color: #f4e0f4;
    box-shadow: 5px 5px 1px #b192b1;
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
    
}
.start-btn button:hover{
    transform: translateY(-5px);
    transition: .5s;
    box-shadow: 3px 3px 1px #897089;
}
footer{
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #000105c2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}
footer a{
    font-weight: bold; 
}
@media screen and (min-width:600px){ 
    .containers-task-div{
    width: 60%;
    }
    nav .start-btn{
        width: 20%;
    }
    nav .name{
        width: 40%;
    }
    nav .name p{
       font-size: 4vh;
    }
    nav .logo{
        justify-content: right;
        width: 15%;
    }
    .start-btn button{
        width: 20%;
    }
}
@media screen and (min-width:1500px){
    nav .logo img{
        width: 40%;
    }
    .containers-task-div{
        width: 50%;
    }
    .containers-task-div .task-div{
        margin: 25px auto;
    }
    .containers-task-div div i{
        font-size: 7vh;
    }
    .containers-task-div p{
        font-size: 4vh;
    }
    .containers-task-div .task-div div{
        width: 8vh;
        height: 8vh;
    }
    .start-btn button{
        width: 20%;
        font-size: 3vh;
    }
    footer{
        font-size: 3vh;
    }
}